.register-company-container {
  padding: 20px;
  background-color: #f9f9f9;
}

h2 {
  margin-bottom: 20px;
}

.employers-table {
  width: 100%;
  border-collapse: collapse;
}

.employers-table th, .employers-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.employer-logo {
  width: 50px;
  height: auto;
}
