.metrics {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.metrics-summary {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.metric-item {
    text-align: center;
}

.metric-item h3 {
    font-size: 20px;
    color: #555;
}

.metric-item p {
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

.charts-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.chart-item {
    flex: 1;
}